// Responsifiy RyanWans.com

// breakpoints
$screen-sm-min: 600px;
$screen-md-min: 900px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1560px;

// mix-ins
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

// custom devics
@mixin rwd($screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}